# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim
*.swp
*.swo

tmp*
build/*
build-editable/*

# ffmpeg build
scripts/build_ffmpeg

# python venv
.venv
*.pyc

# cibuildwheel
wheelhouse

# mac
.DS_Store
